<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace映射文件的namespace必须等于Mapper映射器的全限定名 -->
<mapper namespace="dao.A_s_uDao">
	<insert id="addAsu"  parameterType="entity.A_s_u">
		insert into a_s_u(a_no,s_no,u_id) 
		values(#{a_no}, #{s_no}, #{u_id});
	</insert>	
	
	
	<delete id="deleteA_s_uByA_no" parameterType="String">
		delete from a_s_u 
		where a_no = #{a_no}
	</delete>
</mapper>







